<h1>Doctor Dashboard</h1>

<h2>Patients Registered Per Day</h2>
<%= line_chart @patients_by_day, xtitle: "Day", ytitle: "Number of Patients" %>

<%#= line_chart @patients_by_day %>
<%#= line_chart User.group_by_day(:created_at).count %>
<h2>Your Patients</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Contact Number</th>
    </tr>
  </thead>
  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.name %></td>
        <td><%= patient.age %></td>
        <td><%= patient.contact_number %></td>
      </tr>
    <% end %>
  </tbody>
</table>
